<% title "List of Friends"%>

<div class="container">

 	<div class="container">
 		<table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>E-Mail</th>
            <th>Total Debt</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
       		<% @people.each do |p| %>
			<tr>
				<td><%=p.id %></td>
				<td><%=p.name %></td>
				<td><%=p.email %></td>
				<td><%=p.debt %></td>
				<td>
					<% if p.debt == 0 %>
						<%=link_to("Delete", p, :method => :delete, :remote => :true, :confirm => "Are you sure?") %>
					<% end%>
				</td>
			</tr>
			<% end %>
          
        </tbody>
        
      </table>
	</div>

      <hr>

      <footer>
        <p>&copy; Ruby On Wallet</p>
      </footer>

    </div> <!-- /container -->
